/* Specifity 1 */
body{
    display: grid;
       grid: "h h h"
             "s s s"
             "f f f";
       grid-template-columns: auto 1fr 20%;
}

/* Specifity 1 */
section { 
    grid-area: s;     
}

/* Specifity 1 */
header{
    grid-area: h;
}

/* Specifity 1 */
footer{
    grid-area: f;
}